* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fontello';
    src: url('/../webfonts/fontello.eot?41373529');
    src: url('/../webfonts/fontello.eot?41373529#iefix') format('embedded-opentype'),
    url('/../webfonts/fontello.woff?41373529') format('woff'),
    url('/../webfonts/fontello.ttf?41373529') format('truetype'),
    url('/../webfonts/fontello.svg?41373529#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontello-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    font-size: 120%;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*
   Animation example, for spinners
*/
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-chart-line:before {
    display: block;
    content: "\f201";
}

.btn-block .fontello-icon, .brand-card-header .fontello-icon {
    margin-left: 0px;
}

.brand-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem
}

.bg-usd {
    background-color: #4dbd74 !important
}

.bg-eur {
    background-color: #2eadd3 !important
}

.bg-rub {
    background-color: #f86c6b !important
}

.usd-card .icon-spinner {
    color: rgba(79, 189, 116, 0.25);
}

.eur-card .icon-spinner {
    color: rgba(46, 173, 211, 0.25);
}

.rub-card .icon-spinner {
    color: rgba(248, 108, 107, 0.25);
}

.brand-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 6rem;
    border-radius: .25rem .25rem 0 0
}

.brand-card-header i {
    font-size: 2rem;
    color: #fff
}

.brand-card-header .chart-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.brand-card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: .75rem 0;
    text-align: center
}

.brand-card-body > * {
    -ms-flex: 1;
    flex: 1;
    padding: .1875rem 0
}

.brand-card-body > *:not(:last-child) {
    border-right: 1px solid #c8ced3
}

.text-value {
    font-size: 1.3125rem;
    font-weight: 600
}

.chartjs-tooltip {
    position: absolute;
    z-index: 1021;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .25rem .5rem;
    color: #fff;
    pointer-events: none;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: all .25s ease;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: .25rem
}

.chartjs-tooltip .tooltip-header {
    margin-bottom: .5rem
}

.chartjs-tooltip .tooltip-header-item {
    font-size: .765625rem;
    font-weight: 700
}

.chartjs-tooltip .tooltip-body-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: .765625rem;
    white-space: nowrap
}

.chartjs-tooltip .tooltip-body-item-color {
    display: inline-block;
    width: .875rem;
    height: .875rem;
    margin-right: .875rem
}

.chartjs-tooltip .tooltip-body-item-value {
    padding-left: 1rem;
    margin-left: auto;
    font-weight: 700
}

span.logo-title {
    text-transform: uppercase;
    color: #555555;
    font-weight: bold;
}

.logo {
    font-size: .9rem;
    text-align: center;
    margin: 20px 0px 5px;
}

nav.bobr-menu {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #CC3433;
    border-color: #CC3433;
    min-height: 45px;
    border-radius: 5px;
}

.navbar-nav {
    margin: -5px -15px;
}

.nav > li {
    position: relative;
    display: block;
}

nav .navbar-nav > li > a {
    display: block;
    color: #FFFFFF;
    padding: 10px 13px;
}

nav .navbar-nav > li > a:hover {
    color: #CC3433;
    background-color: #FFFFFF;
    text-decoration: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-usd {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
}

.btn-usd:hover, .btn-usd:active, .btn-usd:focus {
    background-color: #4dbd74;
    border-color: #4dbd74;
}

.btn-eur {
    color: #fff;
    background-color: #3cb6d9;
    border-color: #3cb6d9;
}

.btn-eur:hover, .btn-eur:active, .btn-eur:focus {
    background-color: #3cb6d9;
    border-color: #3cb6d9;
}

.btn-rub {
    color: #fff;
    background-color: #f66c6a;
    border-color: #f66c6a;
}

.btn-rub:hover, .btn-rub:active, .btn-rub:focus {
    background-color: #f66c6a;
    border-color: #f66c6a;
}

.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-radius: 0 4px 4px 0;
}

.btn {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-left {
    margin-right: -3px;
    border-radius: 4px 0 0 4px;
}

.btn-right {
    margin-left: -2px;
    border-radius: 0 4px 4px 0;
}

.btn-content .btn-block {
    width: calc(33% - 3px);
}

.btn:focus, .btn-outline-eur:not(:disabled):not(.disabled):active:focus, .btn-eur:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-outline-usd {
    color: #4dbd74;
    background-color: transparent;
    background-image: none;
    border-color: #4dbd74;
}

.btn-outline-usd:hover {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
}

.btn-outline-eur {
    color: #3cb6d9;
    background-color: transparent;
    background-image: none;
    border-color: #3cb6d9;
}

.btn-outline-eur:hover {
    color: #fff;
    background-color: #3cb6d9;
    border-color: #3cb6d9;
}

.btn-outline-rub {
    color: #f66c6a;
    background-color: transparent;
    background-image: none;
    border-color: #f66c6a;
}

.btn-outline-rub:hover {
    color: #fff;
    background-color: #f66c6a;
    border-color: #f66c6a;
}

#inlineFormInputGroup {
    height: 35px;
    text-align: center;
    font-size: 1.1rem;
    border-color: #4dbd74;
}

.select-input {
    padding: 0;
}

.btn-content {
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block + .btn-block {
    margin-top: 0rem;
}

.navicon-button {
    display: inline-block;
    position: relative;
    padding: 1.1rem 1.5rem;
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    right: -10px;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s;
}

.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}

.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
    transition: 0.25s;
}

.navicon-button:hover .navicon:before {
    top: .825rem;
}

.navicon-button:hover .navicon:after {
    top: -.825rem;
}

.navicon {
    position: relative;
    width: 2.5em;
    height: .3125rem;
    background: #FFF;
    transition: 0.5s;
    border-radius: 2.5rem;
}

.navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #FFF;
    position: absolute;
    z-index: 1;
    transition: 0.5s 0.25s;
    border-radius: 1rem;
}

.navicon:before {
    top: .625rem;
}

.navicon:after {
    top: -.625rem;
}

.btn-left, .btn-right {
    width: 50%;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: 0.5s;
}

/* Minus */
.open {
    transform: scale(0.75);
}

/* × and + */
.open.plus .navicon,
.open.x .navicon {
    background: transparent;
}

.open.plus .navicon:before,
.open.x .navicon:before {
    transform: rotate(-45deg);
}

.open.plus .navicon:after,
.open.x .navicon:after {
    transform: rotate(45deg);
}

.open.plus {
    transform: scale(0.75) rotate(45deg);
}

.table {
    font-size: 14px;
    color: #777;
    border: 1px solid #eee;
    border-radius: 3px;
}

.dataTables_wrapper {
    margin-top: 20px;
}

table.dataTable thead th {
    border: none;
    cursor: pointer;
}

table.dataTable tr.odd {
    background-color: rgba(251, 251, 251, 0.80);
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #f5f5f5;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #f5f5f5;
}

thead > tr {
    line-height: 5px;
}

table.dataTable img {
    margin-right: 4px;
    padding-bottom: 3px;
}

table.dataTable p img {

}

tr > td:first-child {

    position: relative;
}

tr > td:first-child i {
    cursor: pointer;
    color: #d7d7d7;
    font-size: 1rem;
    padding-right: 0.5em;
    position: absolute;
    top: .5rem;
    right: 0;
}

tr > td:first-child:hover i {
    color: #c1c1c1;
}

tr[role="row"] {
    cursor: pointer;
}

tbody p {

    margin-bottom: 0;
}

.table-show, .button-show, .google-play-show {
    display: none;
}

.spinner-show {
    text-align: right;
    opacity: .7;
    margin-top: 25px;
}

i.fas.fa-chart-line {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    transition: opacity .3s ease .1s;
}

i.fas.fa-chart-line:hover {
    opacity: 1;
}

.dynamics {
    display: none;
    white-space: nowrap;
    position: relative;
    top: -17px;
    left: 25px;
    font-size: .8rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dynamics-usd {
    display: inline-block;
    position: relative;
    width: max-content;
}


.show-all, .show-10 {
    border-color: #ced4da;
    padding: 4px 0px;
}

.allbanks {
    color: #777;
    font-size: .9rem;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: calc(100% - 10%) !important;
}

div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_filter label {
    text-align: right !important;
}

#map {
    height: 600px;
    width: 99.5%;
}

.map-show {
    border: 1px solid #c8ced3;
    border-radius: .25rem;
    display: inline-block;
    width: 100%;
}

.block-map {
    position: sticky;
    top: 10px;
}

.google-play-show {
    margin-left: calc(50% - 85px);
}

.google-play-foot {
    display: inline-block;
    margin-left: calc(50% - 85px);
}

.google-play {
    opacity: .7;
    width: 170px;
    margin-top: 10px;
    margin-bottom: -5px;
    transition: all 300ms;
}

.google-play:hover {
    opacity: 1;
}

.row.b-footer {
    margin: 1em 0;
    text-align: center;
}

.row.b-footer .text-wrapper {
    margin: 0 auto;
    width: 43%;
    white-space: nowrap;
}

.row.b-footer .text-wrapper, .row.b-footer div {
    border-top: solid 1px #CCCCCC;
    font-size: 90%;
    padding-top: 0.5em;
}

[data-bank] img, address img {
    width: 18px;
}

address img {
    margin-bottom: 2px;
}

[data-bank]:hover img {
    transform: scale(1.1);
}

.wrapper-chart {
    border: 1px solid #c8ced3;
    border-radius: .25rem;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
}

#main-chart {
    margin-top: 10px;
}

.wrapper-chart label.btn {
    width: 50px;
}

.graph-btn-wrapper {
    text-align: right;
    margin-top: 0px;
}

.graph-btn {
    display: block;
    text-align: right;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-bottom: -5px;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(248, 249, 250, .5);
}

.wrapper-chart .bootstrap-select button:focus {
    outline: none !important;
}

.wrapper-chart .address {
    margin-left: 14px;
    margin-top: -1px;
    margin-bottom: 0px;
    font-size: 11px;
    z-index: 1;
    white-space: nowrap;
}

/* базовый контейнер уведомлений */
.message {
    background-size: 40px 40px;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    font: 16px 'Open Sans';
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    -moz-animation: bg-animate 5s linear infinite;
    -webkit-animation: bg-animate 5s linear infinite;
    -ms-animation: bg-animate 5s linear infinite;
    animation: bg-animate 5s linear infinite;
}

.container.message-wrapper {
    display: none;
    position: sticky;
    top: 10px;
    z-index: 2;
}

/* заголовок сообщения */
.message span {
    font-weight: 600;
}

/* кнопка закрытия */
.message #reload {
    float: right;
    color: inherit;
    text-decoration: none;
}

/* сообщение об ошибке */
.message#reload-wrapper {
    background-color: tomato;
    border-left: 7px #dc3d21 solid;
    color: white;
}

/* анимация */
@-webkit-keyframes bg-animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

@-moz-keyframes bg-animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

@keyframes bg-animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

.show-view {
    color: #777;
    font-size: .9rem;
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;
    margin-right: 40px;
}

.show-classic {
    border-color: #ced4da;
    padding: 1px 0px;
    width: 150px;
    text-transform: uppercase;
    padding-top: 2px;
}


.btn-outline-info {
    border-color: #2eadd3;
    padding: 4px;

}

.block-message span {
    display: block;
    font-size: 10px;
    text-align: center;
}

.block-address-message {
    display: flex;
    justify-content: space-between;
}

.block-address {

}

.block-message {

}

/* Стиль для новостей */

.news-card.news-card-cascade.news-narrower {
    margin-top: 3rem;
    margin-bottom: .9rem;
}

.news-card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    transition: all .3s ease-in-out;
}
.news-card:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
}
.news-card.news-card-cascade.news-narrower .news-view.news-view-cascade {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
}



.news-card.news-card-cascade .news-view.news-view-cascade {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.news-view {
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.news-view img {
    position: relative;
    display: block;
    height: 200px;
}

.news-view:hover .news-date {
    background: rgba(0, 0, 0, 0.9);
    transition: all .2s ease-in-out;

}

.news-card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    transition: all .2s ease-in-out;
}

.news-view:hover {
    opacity: 0.9;
    transition: all .2s ease-in-out;
}

img.ripple {
    vertical-align: middle;
    border-style: none;
}

a.ripple {
    cursor: pointer;
    text-decoration: none;
    background-color: #3cb6d9;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}

a.ripple:hover {
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
}

.news-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.news-card-body-button {
    align-self: flex-end;
    width: 100%;
}

.news-btn-unique {
    background-color: #3cb6d9;
    color: #fff;
}

.news-btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-iout, background-color .15s ease-iout, border-color .15s ease-iout, box-shadow .15s ease-in-out;
}


.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

btn.ripple {
    align-items: flex-end;
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #3cb6d9;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.news-date {
    position: absolute;
    left: 0px;
    bottom: 0;
    padding: 3px 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 100;
    font-size: 11px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

.vertical, .vertical > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex!important;
    display: flex!important;
    flex:1 0 auto;
}

.news-card-title {
    font-size:1.2rem;
}



@media (max-width: 992px) {
    .vertical >.d-md-none.d-lg-block.d-sm-block.col-lg-4.col-sm-12 {
        display: none!important;
    }
}


/*// Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {
    .select-input {
        padding: 15px;
        padding-bottom: 10px;
    }

    .btn-content .btn-block {
        width: calc(33% - 3px);
    }

    .allbanks span:first-child {
        display: none;
    }

    .spinner-show {
        text-align: center;
    }

    #map {
        height: 400px;
        width: 99.5%;
    }

    .graph-btn-wrapper {
        text-align: center;
        margin-top: 20px;
    }

    .btn-group.btn-group-toggle {
        width: 100%;
    }

    .wrapper-chart label.btn {
        width: 25%;
    }

    .period {
        width: 25%;
    }

    .wrapper-chart .address {
        margin-bottom: 10px;
    }

    .vertical >.d-md-none.d-lg-block.d-sm-block.col-lg-4.col-sm-12 {
        display: flex!important;
    }

    .news-view img {
        height: 260px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .spinner-show {
        text-align: center;
    }

    .graph-btn-wrapper {
        text-align: center;
        margin-top: 20px;
    }

    .btn-group.btn-group-toggle {
        width: 100%;
    }

    .wrapper-chart label.btn {
        width: 25%;
    }

    .period {
        width: 25%;
    }

    .wrapper-chart .address {
        margin-bottom: 10px;
    }

    .news-view img {
        height: 160px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #map {
        height: 400px;
        width: 99.5%;
    }

    .spinner-show {
        text-align: center;
    }

    .graph-btn-wrapper {
        text-align: right;
        margin-top: 0px;
    }

    .wrapper-chart label.btn {
        width: 50px;
    }

    .btn-group.btn-group-toggle {
        width: inherit;
    }

    .period {
        width: 100px;
    }

    .wrapper-chart .address {
        margin-bottom: 0px;
    }

    .news-view img {
        height: 200px;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #map {
        height: 600px;
        width: 99.5%;
    }

    .spinner-show {
        text-align: right;
    }

    .graph-btn-wrapper {
        text-align: right;
        margin-top: 0px;
    }

    .wrapper-chart label.btn {
        width: 50px;
    }

    .btn-group.btn-group-toggle {
        width: inherit;
    }

    .period {
        width: 100px;
    }

    .news-view img {
        height: 170px;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #map {
        height: 600px;
        width: 99.5%;
    }

    .graph-btn-wrapper {
        text-align: right;
        margin-top: 0px;
    }

    .wrapper-chart label.btn {
        width: 50px;
    }

    .btn-group.btn-group-toggle {
        width: inherit;
    }

    .period {
        width: 100px;
    }

    .news-view img {
        height: 220px;
    }
}



