* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fontello';
    src: url('/../webfonts/fontello.eot?41373529');
    src: url('/../webfonts/fontello.eot?41373529#iefix') format('embedded-opentype'),
    url('/../webfonts/fontello.woff?41373529') format('woff'),
    url('/../webfonts/fontello.ttf?41373529') format('truetype'),
    url('/../webfonts/fontello.svg?41373529#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontello-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    font-size: 120%;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*
   Animation example, for spinners
*/
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-chart-line:before {
    display: block;
    content: "\f201";
}

.brand-card-header .fontello-icon {
    margin-left: 0px;
}

.brand-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem
}

.bg-usd {
    background-color: #4dbd74 !important
}

.bg-eur {
    background-color: #2eadd3 !important
}

.bg-rub {
    background-color: #f86c6b !important
}

.usd-card .icon-spinner {
    color: rgba(79, 189, 116, 0.25);
}

.eur-card .icon-spinner {
    color: rgba(46, 173, 211, 0.25);
}

.rub-card .icon-spinner {
    color: rgba(248, 108, 107, 0.25);
}

.brand-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 6rem;
    border-radius: .25rem .25rem 0 0
}

.brand-card-header i {
    font-size: 2rem;
    color: #fff
}

.brand-card-header .chart-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.brand-card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: .75rem 0;
    text-align: center
}

.brand-card-body > * {
    -ms-flex: 1;
    flex: 1;
    padding: .1875rem 0
}

.brand-card-body > *:not(:last-child) {
    border-right: 1px solid #c8ced3
}

.text-value {
    font-size: 1.3125rem;
    font-weight: 600
}

.chartjs-tooltip {
    position: absolute;
    z-index: 1021;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .25rem .5rem;
    color: #fff;
    pointer-events: none;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: all .25s ease;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: .25rem
}

.chartjs-tooltip .tooltip-header {
    margin-bottom: .5rem
}

.chartjs-tooltip .tooltip-header-item {
    font-size: .765625rem;
    font-weight: 700
}

.chartjs-tooltip .tooltip-body-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: .765625rem;
    white-space: nowrap
}

.chartjs-tooltip .tooltip-body-item-color {
    display: inline-block;
    width: .875rem;
    height: .875rem;
    margin-right: .875rem
}

.chartjs-tooltip .tooltip-body-item-value {
    padding-left: 1rem;
    margin-left: auto;
    font-weight: 700
}


i.fas.fa-chart-line {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    transition: opacity .3s ease .1s;
}

i.fas.fa-chart-line:hover {
    opacity: 1;
}

.dynamics {
    display: none;
    white-space: nowrap;
    position: relative;
    top: -17px;
    left: 25px;
    font-size: .8rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dynamics-usd {
    display: inline-block;
    position: relative;
    width: max-content;
}

.fa-chevron-left, .fa-chevron-right {
    color: white;
    font-size: x-large;
    position: absolute;
    top: 30px;
    opacity: .5;
    padding: 5px 35px 15px 15px;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    opacity: .8;
}
.carousel-control-next, .carousel-control-prev {
    height: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.brand-card {
    cursor: pointer;
}